<div class = "welcome">
  <section class = "welcome_section_one">
    <h1>Press me to start </h1>
  </section>
  <section class = "welcome_section_two">
    <%= link_to "Search cities", home_index_path, class: "start_button" %>
  </section>
</div>
