<div class = "testtwo">
  <section class = "testthree">
    <h1>Press me to start </h1>
  </section>
  <section class = "test">
    <%= link_to "Search cities", home_index_path, class: "pineapple" %>
  </section>
</div>
