// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.daily{
    border-style: solid;
    margin: 1rem;
    padding: 0.5rem;
}

.hourly{
    display: flex;
    margin: 2rem;
    padding: 0.5rem;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.hour{
    padding: 1rem;
    display: inline-block;
}
