// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container{
    // overflow-x: scroll;
    // overflow-y: hidden;
    // white-space: nowrap;
}
.daily{
    border-style: solid;
    margin: 1rem;
    padding: 0.5rem;
    // display: inline-block;
}

.hourly{
    display: flex;
    margin: auto;
    padding: 0.5rem;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    
}

.hour{
    padding: 1rem;
    display: inline-block;
}

.data{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px,auto);
}

.dataTwo{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.test{
    display: grid;
    grid-template-columns: 1fr;
}